*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Page Sections */

body {
  border-top: 10px solid #1089ad;
  color: #444;
  font-family: sans-serif;
  position: relative;
}

.container {
  background-color: #f7f7f7;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 2rem;
}

.blog-container {
  display: flex;
  gap: 3rem;
  align-items: flex-start;
}

.blog-container > article {
  flex: 1;
}

.blog-container > aside {
  flex: 0 0 300px; /* Smaller column */
}

/* text */

h1,
h2,
h3,
h4 {
  color: #1089ad;
}

h1 {
  font-size: 40px;
  text-transform: uppercase;
  font-style: italic;
  position: relative;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
}

h4 {
  font-size: 24px;
  text-transform: uppercase;
}

p {
  font-size: 22px;
  line-height: 1.5;
}

article {
  margin-bottom: 60px;
}

li {
  font-size: 20px;
}

li:last-child {
  margin-bottom: 0;
}

/* Main header */

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  background-color: #f7f7f7;
  margin-bottom: 60px;
}

.main-header li {
  list-style: none;
}

nav {
  font-size: 18px;

  display: flex;
  justify-content: center;
  align-items: center;
}

nav > ul {
  display: flex;
  gap: 1rem;
}

h2::first-letter {
  font-style: normal;
  margin-right: 5px;
}

/* article */

article > ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

article > p {
  margin-bottom: 20px;
}

/* Post header area */

.post-header {
  margin-bottom: 40px;
}

.author {
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
}

.author > strong {
  position: relative;
  display: inline-block;
}

.author > strong::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: orangered;
}

.author-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 20px;
}

.post-header h1 {
  margin-bottom: 10px;
}

.post-header h1::after {
  content: "TOP";
  background-color: #ffe70e;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 10px;
  display: inline-block;
  position: absolute;
  top: -10px;
  right: -25px;
}

/* Aside */

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  border-radius: 5px;
  padding: 20px 0;
}

aside h4 {
  margin-bottom: 20px;
}

aside > nav > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

aside > nav > ul > li {
  list-style: none;
  display: flex;
  gap: 1rem;
}

aside h4 {
  text-align: center;
}

/* Footer */

.copyright {
  text-align: center;
  padding: 1rem 0;
  font-size: 16px;
}
/* Links */

#active {
  color: black;
}

#active:hover {
  color: orangered;
}

a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  color: #1089ad;
}

a:hover {
  color: orangered;
  text-decoration: underline orangered;
}

a:active {
  color: black;
}

/* Images */

.post-img {
  width: 100%;
  height: auto;
}

/* Buttons */

.likeBtn {
  font-size: 22px;
  position: absolute;
  padding: 20px;
  border: 1px solid #444;
  bottom: 50px;
  right: 50px;
}

/* Queries */

@media (max-width: 768px) {
  .blog-container {
    flex-direction: column;
  }

  aside {
    width: 100%;
  }

  .likeBtn {
    font-size: 18px;
    padding: 15px;
    bottom: 75px;
  }
}
